{
  "openapi": "3.0.0",
  "info": {
    "title": "CGuard API",
    "version": "1.0.0",
    "description": "Auto-generated OpenAPI spec (minimal) — run tools/generate-openapi.js to regenerate with more details."
  },
  "servers": [
    {
      "url": "https://api.cguardpro.com/api"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/tenant/{tenantId}/additional-service": {
      "post": {
        "tags": [
          "additionalService"
        ],
        "summary": "POST /tenant/:tenantId/additional-service",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "string"
                  },
                  "importHash": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "data": "string",
                "importHash": "abc123def456"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "additionalService"
        ],
        "summary": "DELETE /tenant/:tenantId/additional-service",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "additionalService"
        ],
        "summary": "GET /tenant/:tenantId/additional-service",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tenant/{tenantId}/additional-service/{id}": {
      "put": {
        "tags": [
          "additionalService"
        ],
        "summary": "PUT /tenant/:tenantId/additional-service/:id",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "string"
                  },
                  "importHash": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "data": "string",
                "importHash": "abc123def456"
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "additionalService"
        ],
        "summary": "GET /tenant/:tenantId/additional-service/:id",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tenant/{tenantId}/additional-service/import": {
      "post": {
        "tags": [
          "additionalService"
        ],
        "summary": "POST /tenant/:tenantId/additional-service/import",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "string"
                  },
                  "importHash": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "data": "string",
                "importHash": "abc123def456"
              }
            }
          }
        }
      }
    },
    "/tenant/{tenantId}/additional-service/autocomplete": {
      "get": {
        "tags": [
          "additionalService"
        ],
        "summary": "GET /tenant/:tenantId/additional-service/autocomplete",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/documentation-config": {
      "get": {
        "tags": [
          "apiDocumentation.ts"
        ],
        "summary": "GET /documentation-config",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/documentation": {
      "get": {
        "tags": [
          "apiDocumentation.ts"
        ],
        "summary": "GET /documentation",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/documentation/index.html": {
      "get": {
        "tags": [
          "apiDocumentation.ts"
        ],
        "summary": "GET /documentation/index.html",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/documentation/swagger-initializer.js": {
      "get": {
        "tags": [
          "apiDocumentation.ts"
        ],
        "summary": "GET /documentation/swagger-initializer.js",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tenant/{tenantId}/attendance/dashboard": {
      "get": {
        "tags": [
          "attendance"
        ],
        "summary": "GET /tenant/:tenantId/attendance/dashboard",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "totalGuards": 45,
                  "onDuty": 18,
                  "late": 2,
                  "absent": 1,
                  "totalHoursToday": 198.5,
                  "exceptions": 3,
                  "pendingApprovals": 5
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tenant/{tenantId}/attendance/payroll-summary": {
      "get": {
        "tags": [
          "attendance"
        ],
        "summary": "GET /tenant/:tenantId/attendance/payroll-summary",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tenant/{tenantId}/attendance/exceptions": {
      "get": {
        "tags": [
          "attendance"
        ],
        "summary": "GET /tenant/:tenantId/attendance/exceptions",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tenant/{tenantId}/attendance/exceptions/{id}/resolve": {
      "patch": {
        "tags": [
          "attendance"
        ],
        "summary": "PATCH /tenant/:tenantId/attendance/exceptions/:id/resolve",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "_note": "Provide request body for PATCH /tenant/{tenantId}/attendance/exceptions/{id}/resolve"
                }
              }
            }
          }
        }
      }
    },
    "/tenant/{tenantId}/attendance/corrections": {
      "get": {
        "tags": [
          "attendance"
        ],
        "summary": "GET /tenant/:tenantId/attendance/corrections",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tenant/{tenantId}/attendance/corrections/{id}/approve": {
      "patch": {
        "tags": [
          "attendance"
        ],
        "summary": "PATCH /tenant/:tenantId/attendance/corrections/:id/approve",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "_note": "Provide request body for PATCH /tenant/{tenantId}/attendance/corrections/{id}/approve"
                }
              }
            }
          }
        }
      }
    },
    "/tenant/{tenantId}/attendance/clock-out-requests": {
      "get": {
        "tags": [
          "attendance"
        ],
        "summary": "GET /tenant/:tenantId/attendance/clock-out-requests",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tenant/{tenantId}/attendance/clock-out-requests/{id}": {
      "patch": {
        "tags": [
          "attendance"
        ],
        "summary": "PATCH /tenant/:tenantId/attendance/clock-out-requests/:id",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "_note": "Provide request body for PATCH /tenant/{tenantId}/attendance/clock-out-requests/{id}"
                }
              }
            }
          }
        }
      }
    },
    "/tenant/{tenantId}/attendance/close-period": {
      "post": {
        "tags": [
          "attendance"
        ],
        "summary": "POST /tenant/:tenantId/attendance/close-period",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "startDate": "2026-06-01",
                  "endDate": "2026-06-15",
                  "notes": "Primera quincena junio 2026"
                }
              }
            }
          }
        }
      }
    },
    "/tenant/{tenantId}/attendance/guard-rates": {
      "put": {
        "tags": [
          "attendance"
        ],
        "summary": "PUT /tenant/:tenantId/attendance/guard-rates",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "_note": "Provide request body for PUT /tenant/{tenantId}/attendance/guard-rates"
                }
              }
            }
          }
        }
      }
    },
    "/tenant/{tenantId}/attendance/settings": {
      "get": {
        "tags": [
          "attendance"
        ],
        "summary": "GET /tenant/:tenantId/attendance/settings",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "attendance"
        ],
        "summary": "PUT /tenant/:tenantId/attendance/settings",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "lateThresholdMinutes": 15,
                  "earlyClockOutThresholdMinutes": 30,
                  "autoApproveClockIn": false,
                  "requireSelfie": true,
                  "geofenceEnabled": true,
                  "payPeriod": "quincenal",
                  "overtimeMultiplier": 1.5
                }
              }
            }
          }
        }
      }
    },
    "/tenant/{tenantId}/attendance/{id}": {
      "get": {
        "tags": [
          "attendance"
        ],
        "summary": "GET /tenant/:tenantId/attendance/:id",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tenant/{tenantId}/attendance/{id}/approve": {
      "patch": {
        "tags": [
          "attendance"
        ],
        "summary": "PATCH /tenant/:tenantId/attendance/:id/approve",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "_note": "Provide request body for PATCH /tenant/{tenantId}/attendance/{id}/approve"
                }
              }
            }
          }
        }
      }
    },
    "/tenant/{tenantId}/attendance/{id}/reject": {
      "patch": {
        "tags": [
          "attendance"
        ],
        "summary": "PATCH /tenant/:tenantId/attendance/:id/reject",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "_note": "Provide request body for PATCH /tenant/{tenantId}/attendance/{id}/reject"
                }
              }
            }
          }
        }
      }
    },
    "/tenant/{tenantId}/attendance/{id}/correct": {
      "post": {
        "tags": [
          "attendance"
        ],
        "summary": "POST /tenant/:tenantId/attendance/:id/correct",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "_note": "Provide request body for POST /tenant/{tenantId}/attendance/{id}/correct"
                }
              }
            }
          }
        }
      }
    },
    "/tenant/{tenantId}/audit-log": {
      "get": {
        "tags": [
          "auditLog"
        ],
        "summary": "GET /tenant/:tenantId/audit-log",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/auth/oauth/google": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "GET /auth/oauth/google",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/auth/oauth/google/callback": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "GET /auth/oauth/google/callback",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/auth/oauth/microsoft": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "GET /auth/oauth/microsoft",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/auth/oauth/microsoft/callback": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "GET /auth/oauth/microsoft/callback",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/auth/social/onboard": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/social/onboard",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "_note": "Provide request body for POST /auth/social/onboard"
                }
              }
            }
          }
        }
      }
    },
    "/auth/social/google": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "GET /auth/social/google",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/auth/social/google/callback": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "GET /auth/social/google/callback",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/auth/social/facebook": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "GET /auth/social/facebook",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/auth/social/facebook/callback": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "GET /auth/social/facebook/callback",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/auth/password-reset": {
      "put": {
        "tags": [
          "auth"
        ],
        "summary": "Reset password using token",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Password reset"
          },
          "400": {
            "description": "Invalid token"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "required": [
                  "token",
                  "password"
                ]
              },
              "example": {
                "token": "reset_token_abc123",
                "password": "NewPassword2026!"
              }
            }
          }
        }
      }
    },
    "/auth/send-email-address-verification-email": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Send email address verification email (for current user)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Email sent"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tenantId": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "carlos.mendez@empresa.com"
              }
            }
          }
        }
      }
    },
    "/auth/send-password-reset-email": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Send password reset email",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Email sent"
          },
          "404": {
            "description": "Email not found"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "tenantId": {
                    "type": "string"
                  }
                },
                "required": [
                  "email"
                ]
              },
              "example": {
                "email": "carlos.mendez@empresa.com"
              }
            }
          }
        }
      }
    },
    "/auth/sign-in": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Sign in",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjU1MGU4NDAwLWUyOWItNDFkNC1hNzE2LTQ0NjY1NTQ0MDAwMCIsImVtYWlsIjoiY2FybG9zQGVtcHJlc2EuY29tIiwiaWF0IjoxNzE3Nzk5MjAwfQ.signature",
                  "user": {
                    "id": "550e8400-e29b-41d4-a716-446655440000",
                    "email": "carlos.mendez@empresa.com",
                    "fullName": "Carlos Mendez",
                    "avatarUrl": null
                  },
                  "tenants": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "name": "Seguridad Elite S.A.",
                      "roles": [
                        "admin"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "invitationToken": {
                    "type": "string"
                  },
                  "tenantId": {
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              },
              "example": {
                "email": "carlos.mendez@empresa.com",
                "password": "SecurePass123!"
              }
            }
          }
        }
      }
    },
    "/auth/sign-in-customer": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Sign in (customer app)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Auth payload (customer trimmed tenant)"
          },
          "401": {
            "description": "Invalid credentials"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "invitationToken": {
                    "type": "string"
                  },
                  "tenantId": {
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              },
              "example": {
                "email": "carlos.mendez@empresa.com",
                "password": "SecurePass123!",
                "invitationToken": "inv_abc123def456",
                "tenantId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
              }
            }
          }
        }
      }
    },
    "/auth/sign-up": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Sign up",
        "parameters": [],
        "responses": {
          "200": {
            "description": "User created"
          },
          "400": {
            "description": "Validation error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "invitationToken": {
                    "type": "string"
                  },
                  "tenantId": {
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              },
              "example": {
                "email": "nuevo.guardia@empresa.com",
                "password": "NuevoGuardia2026!"
              }
            }
          }
        }
      }
    },
    "/auth/profile": {
      "put": {
        "tags": [
          "auth"
        ],
        "summary": "Update current user profile",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Profile updated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object"
                  }
                },
                "required": [
                  "data"
                ]
              },
              "example": {
                "firstName": "Carlos",
                "lastName": "Mendez",
                "phoneNumber": "+593987654321",
                "avatars": []
              }
            }
          }
        }
      }
    },
    "/auth/change-email": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Change current user's email",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Email change requested"
          },
          "400": {
            "description": "Validation error"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "newEmail": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "required": [
                  "newEmail",
                  "password"
                ]
              },
              "example": {
                "newEmail": "usuario@empresa.com",
                "password": "SecurePass123!"
              }
            }
          }
        }
      }
    },
    "/auth/change-password": {
      "put": {
        "tags": [
          "auth"
        ],
        "summary": "Change password",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Password changed"
          },
          "400": {
            "description": "Invalid password"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "oldPassword": {
                    "type": "string"
                  },
                  "newPassword": {
                    "type": "string"
                  }
                },
                "required": [
                  "oldPassword",
                  "newPassword"
                ]
              },
              "example": {
                "oldPassword": "OldPass123!",
                "newPassword": "NewSecure2026!"
              }
            }
          }
        }
      }
    },
    "/auth/verify-email": {
      "put": {
        "tags": [
          "auth"
        ],
        "summary": "Verify email with token",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Email verified"
          },
          "400": {
            "description": "Invalid token"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  }
                },
                "required": [
                  "token"
                ]
              },
              "example": {
                "token": "verify_token_xyz789"
              }
            }
          }
        }
      }
    },
    "/auth/send-phone-verification": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/send-phone-verification",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phoneNumber": {
                    "type": "string"
                  },
                  "oldPassword": {
                    "type": "string"
                  },
                  "newPassword": {
                    "type": "string"
                  },
                  "token": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "tenantId": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "invitationToken": {
                    "type": "string"
                  },
                  "clientAccountId": {
                    "type": "string"
                  },
                  "data": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "phoneNumber": "+593987654321",
                "oldPassword": "string",
                "newPassword": "string",
                "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                "password": "SecurePass123!",
                "tenantId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                "email": "carlos.mendez@empresa.com",
                "invitationToken": "inv_abc123def456",
                "clientAccountId": "6ba7b810-9dad-11d1-80b4-00c04fd430c8",
                "data": "string",
                "code": "string"
              }
            }
          }
        }
      }
    },
    "/auth/verify-phone": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "POST /auth/verify-phone",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "phoneNumber": {
                    "type": "string"
                  },
                  "oldPassword": {
                    "type": "string"
                  },
                  "newPassword": {
                    "type": "string"
                  },
                  "token": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "tenantId": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "invitationToken": {
                    "type": "string"
                  },
                  "clientAccountId": {
                    "type": "string"
                  },
                  "data": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "code": "string",
                "phoneNumber": "+593987654321",
                "oldPassword": "string",
                "newPassword": "string",
                "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                "password": "SecurePass123!",
                "tenantId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                "email": "carlos.mendez@empresa.com",
                "invitationToken": "inv_abc123def456",
                "clientAccountId": "6ba7b810-9dad-11d1-80b4-00c04fd430c8",
                "data": "string"
              }
            }
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "GET /auth/me",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "550e8400-e29b-41d4-a716-446655440000",
                  "email": "carlos.mendez@empresa.com",
                  "fullName": "Carlos Mendez",
                  "firstName": "Carlos",
                  "lastName": "Mendez",
                  "phoneNumber": "+593987654321",
                  "emailVerified": true,
                  "tenants": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "name": "Seguridad Elite S.A.",
                      "roles": [
                        "admin"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/tenant/{tenantId}/banner-superior-app": {
      "post": {
        "tags": [
          "bannerSuperiorApp"
        ],
        "summary": "POST /tenant/:tenantId/banner-superior-app",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "string"
                  },
                  "importHash": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "data": "string",
                "importHash": "abc123def456"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "bannerSuperiorApp"
        ],
        "summary": "DELETE /tenant/:tenantId/banner-superior-app",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "bannerSuperiorApp"
        ],
        "summary": "GET /tenant/:tenantId/banner-superior-app",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tenant/{tenantId}/banner-superior-app/{id}": {
      "put": {
        "tags": [
          "bannerSuperiorApp"
        ],
        "summary": "PUT /tenant/:tenantId/banner-superior-app/:id",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "string"
                  },
                  "importHash": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "data": "string",
                "importHash": "abc123def456"
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "bannerSuperiorApp"
        ],
        "summary": "GET /tenant/:tenantId/banner-superior-app/:id",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tenant/{tenantId}/banner-superior-app/import": {
      "post": {
        "tags": [
          "bannerSuperiorApp"
        ],
        "summary": "POST /tenant/:tenantId/banner-superior-app/import",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "string"
                  },
                  "importHash": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "data": "string",
                "importHash": "abc123def456"
              }
            }
          }
        }
      }
    },
    "/tenant/{tenantId}/banner-superior-app/autocomplete": {
      "get": {
        "tags": [
          "bannerSuperiorApp"
        ],
        "summary": "GET /tenant/:tenantId/banner-superior-app/autocomplete",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tenant/{tenantId}/billing": {
      "post": {
        "tags": [
          "billing"
        ],
        "summary": "POST /tenant/:tenantId/billing",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "string"
                  },
                  "importHash": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "data": "string",
                "importHash": "abc123def456"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "billing"
        ],
        "summary": "DELETE /tenant/:tenantId/billing",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "billing"
        ],
        "summary": "GET /tenant/:tenantId/billing",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tenant/{tenantId}/billing/{id}": {
      "put": {
        "tags": [
          "billing"
        ],
        "summary": "PUT /tenant/:tenantId/billing/:id",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "string"
                  },
                  "importHash": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "data": "string",
                "importHash": "abc123def456"
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "billing"
        ],
        "summary": "GET /tenant/:tenantId/billing/:id",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tenant/{tenantId}/billing/import": {
      "post": {
        "tags": [
          "billing"
        ],
        "summary": "POST /tenant/:tenantId/billing/import",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "string"
                  },
                  "importHash": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "data": "string",
                "importHash": "abc123def456"
              }
            }
          }
        }
      }
    },
    "/tenant/{tenantId}/billing/autocomplete": {
      "get": {
        "tags": [
          "billing"
        ],
        "summary": "GET /tenant/:tenantId/billing/autocomplete",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tenant/{tenantId}/business-info": {
      "post": {
        "tags": [
          "businessInfo"
        ],
        "summary": "POST /tenant/:tenantId/business-info",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "companyName": "Seguridad Elite S.A.",
                  "ruc": "1790012345001",
                  "legalRepresentative": "Juan Pérez Molina",
                  "address": "Av. Amazonas N24-196 y Colón",
                  "city": "Quito",
                  "country": "Ecuador",
                  "phone": "+593-2-2505050",
                  "email": "admin@seguridadelite.com"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "businessInfo"
        ],
        "summary": "DELETE /tenant/:tenantId/business-info",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "businessInfo"
        ],
        "summary": "GET /tenant/:tenantId/business-info",
        "description": "{\n \n \"summary\": \"List business info\",\n \n \"description\": \"List business infos (post sites) with pagination and filters. Requires authentication.\",\n \n \"responses\": { \"200\": { \"description\": \"Paginated list\" } }\n \n}",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tenant/{tenantId}/business-info/{id}": {
      "put": {
        "tags": [
          "businessInfo"
        ],
        "summary": "Update business info",
        "description": "Update a post site (business info).",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "companyName": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "contactPhone": {
                    "type": "string"
                  },
                  "contactEmail": {
                    "type": "string",
                    "format": "email"
                  },
                  "address": {
                    "type": "string"
                  },
                  "latitud": {
                    "type": "number"
                  },
                  "longitud": {
                    "type": "number"
                  },
                  "categoryIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "active": {
                    "type": "boolean"
                  },
                  "serviceType": {
                    "type": "string",
                    "enum": [
                      "manned",
                      "alarm",
                      "cctv",
                      "patrol",
                      "custody"
                    ]
                  },
                  "logo": {
                    "type": "string"
                  },
                  "clientAccountId": {
                    "type": "string"
                  },
                  "secondAddress": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "postalCode": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "companyName": "Corporación Nacional de Telecomunicaciones",
                "description": "Se detectó una persona intentando ingresar por la puerta lateral sin credenciales de acceso.",
                "contactPhone": "+593-2-2345678",
                "contactEmail": "contacto@empresa.com",
                "address": "Av. 6 de Diciembre N33-44 y Eloy Alfaro",
                "latitud": -0.180653,
                "longitud": -78.467834,
                "categoryIds": [
                  "string"
                ],
                "active": true,
                "serviceType": "manned",
                "logo": "string",
                "clientAccountId": "6ba7b810-9dad-11d1-80b4-00c04fd430c8",
                "secondAddress": "Esquina con Av. Amazonas",
                "country": "Ecuador",
                "city": "Quito",
                "postalCode": "170102"
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "businessInfo"
        ],
        "summary": "Update business info",
        "description": "Update a post site (business info).",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "companyName": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "contactPhone": {
                    "type": "string"
                  },
                  "contactEmail": {
                    "type": "string",
                    "format": "email"
                  },
                  "address": {
                    "type": "string"
                  },
                  "latitud": {
                    "type": "number"
                  },
                  "longitud": {
                    "type": "number"
                  },
                  "categoryIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "active": {
                    "type": "boolean"
                  },
                  "serviceType": {
                    "type": "string",
                    "enum": [
                      "manned",
                      "alarm",
                      "cctv",
                      "patrol",
                      "custody"
                    ]
                  },
                  "logo": {
                    "type": "string"
                  },
                  "clientAccountId": {
                    "type": "string"
                  },
                  "secondAddress": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "postalCode": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "companyName": "Corporación Nacional de Telecomunicaciones",
                "description": "Se detectó una persona intentando ingresar por la puerta lateral sin credenciales de acceso.",
                "contactPhone": "+593-2-2345678",
                "contactEmail": "contacto@empresa.com",
                "address": "Av. 6 de Diciembre N33-44 y Eloy Alfaro",
                "latitud": -0.180653,
                "longitud": -78.467834,
                "categoryIds": [
                  "string"
                ],
                "active": true,
                "serviceType": "manned",
                "logo": "string",
                "clientAccountId": "6ba7b810-9dad-11d1-80b4-00c04fd430c8",
                "secondAddress": "Esquina con Av. Amazonas",
                "country": "Ecuador",
                "city": "Quito",
                "postalCode": "170102"
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "businessInfo"
        ],
        "summary": "GET /tenant/:tenantId/business-info/:id",
        "description": "{\n \n \"summary\": \"Find business info\",\n \n \"description\": \"Retrieve a business info (post site) by id. Requires authentication.\",\n \n \"responses\": { \"200\": { \"description\": \"Business info object\" } }\n \n}",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tenant/{tenantId}/business-info/export": {
      "get": {
        "tags": [
          "businessInfo"
        ],
        "summary": "GET /tenant/:tenantId/business-info/export",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tenant/{tenantId}/business-info/autocomplete": {
      "get": {
        "tags": [
          "businessInfo"
        ],
        "summary": "GET /tenant/:tenantId/business-info/autocomplete",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tenant/{tenantId}/business-info/import-file": {
      "post": {
        "tags": [
          "businessInfo"
        ],
        "summary": "Import businessInfo/post-site via file or JSON",
        "description": "Import post-site records using multipart file upload (CSV/XLSX) or JSON array.",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. Example: \"Bearer <token>\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Import result"
          },
          "400": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "companyName": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
[...]
